{% extends "base.html" %}
{% block content %}
<script>
  async function sendMessage() {
    if (textmessage.value == ""){return}
    let fd = new FormData();
    let token = "{{ csrf_token }}";

    fd.append("textmessage", textmessage.value);
    fd.append("csrfmiddlewaretoken", token);
    
    try {
        messageContainer.innerHTML += 
          `<div id="deleteMessage">
            <span class="color-grey">[DATUM]</span> {{request.user.first_name }}: <i class="color-grey">${messageField.value}</i>
          </div>`;
      let response = await fetch("/chat/", {
        method: "POST",
        body: fd,
      });
      let result = await response.json();
      console.log(result);
      document.getElementById("deleteMessage").remove();
      messageContainer.innerHTML += 
      `<div>
        <span class="color-grey">{{request.user.created_at}}</span> {{request.user.first_name }}: <i>${messageField.value}</i>
      </div>`;
    } catch (e) {
      alert(e);
    }
  };
</script>

 <!--authentication-->
 {% if request.user.is_authenticated %}
 <!--textfield_output-->
 <div id="messageContainer">
  {% for message in messages %}
  <div>
    <span class="color-grey">[{{ message.created_at }}] </span>{{ message.author }}: <i>{{ message.text }}</i>
  </div>
 {% endfor %}
</div>



<!--textfield_input-->      
 <form onsubmit="sendMessage(); return false;" method="post">
   {% csrf_token %}
   <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
     <input class="mdl-textfield__input" name="textmessage" type="text" id="messageField" />
     <label class="mdl-textfield__label" for="messageField">Text...</label>
   </div>
   <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
       send
   </button>
 </form>
 {% else %}
 <p>You are not logged in</p>
 <p><a href="/login/">Log in</a></p>
{% endif %}
{% endblock %}
```


<span><a href="{% url 'logout' %}">Logout</a></span>