{% extends "base.html" %}
{% block content %}

<h1>Register</h1>

{% if password_not_equal %}
    <p>Passwords do not match</p>
{% endif %}




    <div>
        <form action="/register/" method="post">
            {% csrf_token %}
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input type="hidden" name="redirect" value="{{ redirect }}"> 
                <input class="mdl-textfield__input" type="text" name="username" placeholder="username">
                <input class="mdl-textfield__input" type="password" name="password" placeholder="password">
                <input class="mdl-textfield__input" type="password" name="password2" placeholder="password again">
            </div>
            <div>
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">Register</button>
            </div>
        </form>
    </div>




{% endblock %}